@use 'variables' as *;
@use 'mixins' as *;

.user-btn {
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;

    width: 5rem;
    height: 5rem;
    margin-left: 4.618rem;

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0 0 2px $color-primary-500;
    }

    @include respond-to('small') {
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 2.218rem;
    }
}

.btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.554rem;
    font-weight: $fw-bold;
    cursor: pointer;

    background-color: $color-primary-500;
    color: $color-neutral-900;
    box-shadow: 0 2rem 5rem -2rem $color-primary-500;
    border-radius: 1rem;

    width: 100%;
    max-width: 31.2rem;
    height: 5.6rem;

    transition: background-color 0.2s ease-in;

    &:hover,
    &:active,
    &:focus {
        background-color: $color-primary-300;
    }

    &--add-to-cart {
        max-width: 27.2rem;

        @include respond-to('small') {
            max-width: none;
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-neutral-950, 0.85);
    z-index: 100;
}
