@use 'variables' as *;

.gallery {
    display: grid;
    row-gap: 3.2rem;

    &__large {
        max-width: 44.5rem;
        height: 44.5rem;
        border-radius: 1.5rem;
        overflow: hidden;
    }

    &__thumbs {
        display: flex;
        gap: 3.1rem;
    }

    &__thumbnail {
        max-width: 8.8rem;
        height: 8.8rem;

        border-radius: 1rem;
        overflow: hidden;

        &--selected {
            position: relative;
            outline: 3px solid $color-primary;

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba($color-neutral-100, 0.75);
            }
        }
    }
}
