@use 'variables' as *;
@use 'mixins' as *;

.gallery {
    display: grid;

    &--lightbox {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;

        .gallery__btn {
            display: flex;

            &--previous {
                transform: translate(-50%, -50%);
            }
            &--next {
                transform: translate(50%, -50%);
            }
        }
    }

    &__large {
        max-width: 55rem;
        max-height: 55rem;
        min-height: 44.5rem;
        position: relative;
        margin-bottom: 3.2rem;

        @include respond-to('small') {
            max-width: 44.5rem;
            min-height: auto;
            height: 30rem;
            margin-bottom: 0;
        }
    }

    &__large-images {
        overflow: hidden;
        border-radius: 1.5rem;
        cursor: pointer;
        height: 100%;

        @include respond-to('small') {
            border-radius: 0;
            cursor: auto;
        }
    }

    &__carousel {
        display: flex;
        transition: all 0.5s ease-in-out;
        height: 100%;
    }

    &__large-img {
        min-width: 100%;
        object-fit: cover;
        object-position: top;
        transition: all 0.3s ease-in-out;
    }

    &__large-img-loading {
        filter: blur(5px);
    }

    &__thumbs {
        display: flex;
        justify-content: center;
        gap: 3.1rem;

        @include respond-to('small') {
            display: none;
        }
    }

    &__thumbnail {
        max-width: 8.8rem;
        height: 8.8rem;

        border-radius: 1rem;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        transition: all 0.2s ease-in-out;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.2s ease-in-out;
            pointer-events: none;
        }

        &:hover::before {
            background-color: rgba($color-neutral-100, 0.5);
        }

        &--selected {
            box-shadow: 0 0 0 3px $color-primary-500;

            &::before,
            &:hover::before {
                background-color: rgba($color-neutral-100, 0.75);
            }
        }
    }

    &__btn {
        display: none;
        width: 5.6rem;
        height: 5.6rem;
        background-color: $color-neutral-100;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 50%;

        stroke: $color-neutral-900;
        transition: all 0.2s ease-in-out;

        &:hover {
            stroke: $color-primary-500;
        }

        &--next {
            right: 0;
            transform: translate(-1.6rem, -50%);
        }

        &--previous {
            left: 0;
            transform: translate(1.6rem, -50%);
        }

        @include respond-to('small') {
            display: flex;
            width: 4rem;
            height: 4rem;
        }
    }

    &__close-btn {
        justify-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        margin-bottom: 2.4rem;
        fill: $color-neutral-700;
        transition: all 0.2s ease-in-out;

        &:hover {
            fill: $color-primary-500;
        }
    }

    &__close-icon {
        width: 2rem;
        height: 2rem;
    }
}
