@use 'variables' as *;
@use 'mixins' as *;

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12.5rem;

    @include respond-to('medium') {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 2.4rem;
    }

    &__content {
        min-height: 42.6rem;
        max-width: 44.5rem;
        margin-top: 6rem;

        @include respond-to('small') {
            padding: 0 2.4rem;
            margin-top: 0;
        }
    }

    &__title {
        @include respond-to('small') {
            font-size: 2.8rem;
        }
    }

    &__brand-text {
        text-transform: uppercase;
        font-weight: $fw-bold;
        font-size: 1.3rem;
        letter-spacing: 2px;
    }

    &__price-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        margin-bottom: 3.2rem;

        @include respond-to('small') {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__price {
        display: flex;
        gap: 2.3rem;

        span {
            font-size: $fs-body;
            background-color: $color-neutral-950;
            color: $color-neutral-100;
            padding: 0.3rem 1rem;
            line-height: 1.25;
            border-radius: 0.6rem;
            align-self: flex-start;
        }
    }

    &__price-old {
        color: $color-neutral-700;
        font-weight: $fw-bold;
        text-decoration: line-through;
    }
}
